# Analisar dados de filmes - IMDb #
## Objetivo - Realizar uma análise (básica) dos dados de filmes catalogados na base de dados do IMDb. 
 
  ###  Será analisado somente "Movies" (Dica: use como filtro) 

#### 1.1 ) Realiza uma análise exploratória e de integridade dos dados.   
    
#### 	1.2 ) Quais os filmes com maiores ratings a partir do ano 2000 - salvar em um csv os  1000 mais bem “rankeados”. 

#### 	1.3)  Quais os diretores dos filmes em 1.2 ? 
####         (Print na tela, ou graficamente)

#### 	1.4) Quais os atores principais dos filmes em 1.2)  
####         (Print na tela, ou graficamente)

#### 	1.5)  Listar a intersecção dos filmes obtidos em 1.3 e 1.4 - 
####    (Para encontrar um perfil de combinação diretores + atores = sucesso do filme) 
    
 
    
###       Algumas observações 
 
####       A tabela ratings informa: 
       
####       averageRating – weighted average of all the individual user ratings
####       numVotes - number of votes the title has received
       
####       Como comparar  Filme A -> 9 votos e classificação média = 8.5 
####                      Filme B -> 100 votos e classificação média = 7.4 
                      
                      
                      


###   Desafio: 
    
####    1.5) Faça as análises anteriores considerando alguns gêneros de filmes (Drama,Ação etc) 
####    1.6) Proponha uma ponderação que leve em conta n. de votos recebidos por um filme

### Carregar os arquivos csv 


####  Será utilizado o arquivo "IMDb movies.csv"(https://www.kaggle.com/stefanoleone992/imdb-extensive-dataset). Os demais: "IMDb names.csv", "IMDb ratings.csv"  e "IMDb title_principals.csv" podem ser usados para entendimento do Database. Como não há uma descrição do conteúdo desses arquivos será necessário carregá-los e verificar cada um deles. (Dica: Usem o comando head() para exibir as 5 primeirara linhas).

Preparando ambiente

In [3]:
# importando pacotes
import pandas as pd
import numpy as np

In [26]:
# Importando o DataSet
filmes = pd.read_csv('IMDb_movies.csv')

C:\Users\allan\anaconda3\envs\aula\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Conhecendo o DataSet

In [27]:
# Visualizando as 20 primeiras observações do DF
filmes.head(20)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,NaN,NaN,NaN,NaN,13.0,5.0
6,tt0002423,Madame DuBarry,Madame DuBarry,1919,1919-11-26,"Biography, Drama, Romance",85,Germany,German,Ernst Lubitsch,...,"Pola Negri, Emil Jannings, Harry Liedtke, Edua...","The story of Madame DuBarry, the mistress of L...",6.8,753,NaN,NaN,NaN,NaN,12.0,9.0
7,tt0002445,Quo Vadis?,Quo Vadis?,1913,1913-03-01,"Drama, History",120,Italy,Italian,Enrico Guazzoni,...,"Amleto Novelli, Gustavo Serena, Carlo Cattaneo...","An epic Italian film ""Quo Vadis"" influenced ma...",6.2,273,ITL 45000,NaN,NaN,NaN,7.0,5.0
8,tt0002452,Independenta Romaniei,Independenta Romaniei,1912,1912-09-01,"History, War",120,Romania,NaN,"Aristide Demetriade, Grigore Brezeanu",...,"Aristide Demetriade, Constanta Demetriade, Con...",The movie depicts the Romanian War of Independ...,6.7,198,ROL 400000,NaN,NaN,NaN,4.0,1.0
9,tt0002461,Richard III,Richard III,1912,1912-10-15,Drama,55,"France, USA",English,"André Calmettes, James Keane",...,"Robert Gemp, Frederick Warde, Albert Gardner, ...",Richard of Gloucester uses manipulation and mu...,5.5,225,$ 30000,NaN,NaN,NaN,8.0,1.0
10,tt0002646,Atlantis,Atlantis,1913,1913-12-26,Drama,121,Denmark,Danish,August Blom,...,"Olaf Fønss, Ida Orloff, Ebba Thomsen, Carl Lau...",After Dr. Friedrich's wife becomes mentally un...,6.6,331,NaN,NaN,NaN,NaN,9.0,9.0
11,tt0002844,Fantômas - À l'ombre de la guillotine,Fantômas - À l'ombre de la guillotine,1913,1913-05-12,"Crime, Drama",54,France,French,Louis Feuillade,...,"René Navarre, Edmund Breon, Georges Melchior, ...",Inspector Juve is tasked to investigate and ca...,7.0,1944,NaN,NaN,NaN,NaN,9.0,28.0
12,tt0003014,Il calvario di una madre,Ingeborg Holm,1913,1915-10-18,Drama,96,Sweden,NaN,Victor Sjöström,...,"Hilda Borgström, Aron Lindgren, Erik Lindholm,...",Single mother is separated from her children d...,7.1,948,NaN,NaN,NaN,NaN,16.0,7.0
13,tt0003037,Juve contre Fantômas,Juve contre Fantômas,1913,1913-09-08,"Crime, Drama",61,France,French,Louis Feuillade,...,"René Navarre, Edmund Breon, Georges Melchior, ...",In Part Two of Louis Feuillade's 5 1/2-hour ep...,7.0,1349,NaN,NaN,NaN,NaN,8.0,23.0
14,tt0003102,Ma l'amor mio non muore...,Ma l'amor mio non muore...,1914,1914-01-01,Drama,90,Italy,Italian,Mario Caserini,...,"Lyda Borelli, Mario Bonnard, Gian Paolo Rosmin...","Leslie Swayne, an adventurer, in order to obta...",6.2,100,NaN,NaN,NaN,NaN,NaN,4.0
15,tt0003131,Maudite soit la guerre,Maudite soit la guerre,1914,1914-05-01,"Drama, War",50,Belgium,French,Alfred Machin,...,"Baert, Suzanne Berni, Fernand Crommelynck, Nad...",An army pilot is on a visit at the home of ano...,6.5,124,NaN,NaN,NaN,NaN,2.0,2.0
16,tt0003165,Le mort qui tue,Le mort qui tue,1913,1913-11-06,"Crime, Drama, Mystery",90,France,French,Louis Feuillade,...,"René Navarre, Edmund Breon, Georges Melchior, ...",After a body disappears from inside the prison...,7.0,1050,NaN,NaN,NaN,NaN,6.0,18.0
17,tt0003167,Amore di madre,"Home, Sweet Home",1914,1914-05-17,Drama,55,USA,English,D.W. Griffith,...,"Henry B. Walthall, Josephine Crowell, Lillian ...",John Howard Payne at his most miserable point ...,5.8,187,NaN,NaN,NaN,NaN,6.0,NaN
18,tt0003419,Lo studente di Praga,Der Student von Prag,1913,1913-08-22,"Drama, Fantasy, Horror",85,Germany,"German, English","Paul Wegener, Stellan Rye",...,"Paul Wegener, Grete Berger, Lyda Salmonova, Jo...","Balduin, a student of Prague, leaves his royst...",6.5,1768,NaN,NaN,NaN,NaN,20.0,26.0
19,tt0003471,Traffic in Souls,Traffic in Souls,1913,1913-11-24,"Crime, Drama",88,USA,English,George Loane Tucker,...,"Jane Gail, Ethel Grandin, William H. Turner, M...","A woman, with the aid of her police officer sw...",6.0,552,$ 5700,NaN,NaN,NaN,14.0,11.0

In [28]:
# Observando as 5 últimas observações do DF
filmes.tail()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [29]:
filmes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               85022 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  avg_vote               85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

In [30]:
filmes.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [31]:
filmes.shape

(85855, 22)

In [32]:
type(filmes)

pandas.core.frame.DataFrame

In [33]:
filmes.index

RangeIndex(start=0, stop=85855, step=1)

#Analisando a integridade dos dados

In [34]:
# Observações repetidas
filmes[filmes.duplicated()]
# não foram observados observações repetidas no DataSet

Empty DataFrame
Columns: [imdb_title_id, title, original_title, year, date_published, genre, duration, country, language, director, writer, production_company, actors, description, avg_vote, votes, budget, usa_gross_income, worlwide_gross_income, metascore, reviews_from_users, reviews_from_critics]
Index: []

[0 rows x 22 columns]

In [35]:
# Confirmando a Quantidade de valores repetidos
filmes.duplicated().sum()

0

In [36]:
filmes.isnull().sum()

imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     64
language                   833
director                    87
writer                    1572
production_company        4455
actors                      69
description               2115
avg_vote                     0
votes                        0
budget                   62145
usa_gross_income         70529
worlwide_gross_income    54839
metascore                72550
reviews_from_users        7597
reviews_from_critics     11797
dtype: int64

In [39]:
filmes['actors'].dropna()

0        1894.0
1        1906.0
2        1911.0
3        1912.0
4        1911.0
          ...
61854    2011.0
61855    2018.0
61856    2012.0
61857    2012.0
61858    2010.0
Name: year, Length: 61859, dtype: float64

In [37]:
# Contagem dos valores únicos
filmes.nunique()

imdb_title_id            85855
title                    82094
original_title           80852
year                       168
date_published           22012
genre                     1257
duration                   266
country                   4907
language                  4377
director                 34733
writer                   66859
production_company       32050
actors                   85729
description              83611
avg_vote                    89
votes                    14933
budget                    4642
usa_gross_income         14857
worlwide_gross_income    30414
metascore                   99
reviews_from_users        1213
reviews_from_critics       595
dtype: int64

O DataSet não apresenta dados duplicados, entretanto apresenta dados faltantes.

#Análise Exploratória dos Dados (EDA)

In [38]:
round(filmes.describe().T,2)

,count,mean,std,min,25%,50%,75%,max
duration,85855.0,100.35,22.55,41.0,88.0,96.0,108.0,808.0
avg_vote,85855.0,5.90,1.23,1.0,5.2,6.1,6.8,9.9
votes,85855.0,9493.49,53574.36,99.0,205.0,484.0,1766.5,2278845.0
metascore,13305.0,55.90,17.78,1.0,43.0,57.0,69.0,100.0
reviews_from_users,78258.0,46.04,178.51,1.0,4.0,9.0,27.0,10472.0
reviews_from_critics,74058.0,27.48,58.34,1.0,3.0,8.0,23.0,999.0

A descrição sumária da tabela
A média dos valores
O Desvio padrão evidencia o quanto os valores estão dispersão em relação à média
os intervalos interquartis: 
25% -  primeiro quartil
50% - mediana ou segundo quartil
75% - terceiro quartil
os valores minimios e máximos auxiliam na dimensão da amplitude (ou range dos dados)

In [39]:
round(filmes.describe(include = 'all'),2)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
count,85855,85855,85855,85855,85855,85855,85855.00,85791,85022,85768,...,85786,83740,85855.00,85855.00,23710,15326,31016,13305.00,78258.00,74058.00
unique,85855,82094,80852,168,22012,1257,NaN,4907,4377,34733,...,85729,83611,NaN,NaN,4642,14857,30414,NaN,NaN,NaN
top,tt0048605,Anna,Anna,2017,2010,Drama,NaN,USA,English,Jesús Franco,...,"Nobuyo Ôyama, Noriko Ohara, Michiko Nomura, Ka...",The story of,NaN,NaN,$ 1000000,$ 1000000,$ 8144,NaN,NaN,NaN
freq,1,10,10,3223,113,12543,NaN,28511,35939,87,...,9,15,NaN,NaN,758,19,15,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,100.35,NaN,NaN,NaN,...,NaN,NaN,5.90,9493.49,NaN,NaN,NaN,55.90,46.04,27.48
std,NaN,NaN,NaN,NaN,NaN,NaN,22.55,NaN,NaN,NaN,...,NaN,NaN,1.23,53574.36,NaN,NaN,NaN,17.78,178.51,58.34
min,NaN,NaN,NaN,NaN,NaN,NaN,41.00,NaN,NaN,NaN,...,NaN,NaN,1.00,99.00,NaN,NaN,NaN,1.00,1.00,1.00
25%,NaN,NaN,NaN,NaN,NaN,NaN,88.00,NaN,NaN,NaN,...,NaN,NaN,5.20,205.00,NaN,NaN,NaN,43.00,4.00,3.00
50%,NaN,NaN,NaN,NaN,NaN,NaN,96.00,NaN,NaN,NaN,...,NaN,NaN,6.10,484.00,NaN,NaN,NaN,57.00,9.00,8.00
75%,NaN,NaN,NaN,NaN,NaN,NaN,108.00,NaN,NaN,NaN,...,NaN,NaN,6.80,1766.50,NaN,NaN,NaN,69.00,27.00,23.00
max,NaN,NaN,NaN,NaN,NaN,NaN,808.00,NaN,NaN,NaN,...,NaN,NaN,9.90,2278845.00,NaN,NaN,NaN,100.00,10472.00,999.00

In [40]:
filmes.corr()

,duration,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics
duration,1.000000,0.242432,0.125618,0.210531,0.130836,0.135465
avg_vote,0.242432,1.000000,0.166972,0.691338,0.138185,0.200526
votes,0.125618,0.166972,1.000000,0.194730,0.766237,0.671635
metascore,0.210531,0.691338,0.194730,1.000000,0.126131,0.236107
reviews_from_users,0.130836,0.138185,0.766237,0.126131,1.000000,0.671634
reviews_from_critics,0.135465,0.200526,0.671635,0.236107,0.671634,1.000000

Vamos analisar a correlação entre as variáveis do DataSet. O quanto linearmente são duas variáveis, no caso nossas colunas. diagonal evidencia a correlação da variável com ela mesmo. Por isso todos os valores Duração e calorias apresentam uma forte dependencia linear

# Quais os filmes com maiores ratings a partir do ano 2000 - salvar em um csv os 1000 mais bem “rankeados”.

In [67]:
# Separando DataSet apenas com filmes de 2000 pra frente
filmes_anos_2000 = filmes['year']
# ordem decrescente por ranking
#filmes_anos_2000.sort_values(by='avg_vote', ascending=False).head(1000)[['institution','publications','influence']]

In [74]:
filmes_anos_2000

0        1894
1        1906
2        1911
3        1912
4        1911
         ...
85850    2020
85851    2020
85852    2019
85853    2019
85854    2019
Name: year, Length: 85855, dtype: object

In [79]:
filmes_anos_2000.values
filmes_int = filmes_anos_2000.values

filmes_int[:].astype(int)

ValueError: invalid literal for int() with base 10: 'TV Movie 2019'

In [34]:
# Visualizando as observações que não apresentaram a informação quanto ao gênero
filmes[filmes['genre'].isna()]

      imdb_title_id title  ... reviews_from_users  reviews_from_critics
61859     tt1774319    Ch  ...                NaN                   NaN

[1 rows x 22 columns]

# Quem são os diretores dos filmes TOP 1000 anos 2000 ?

In [25]:
diretores = filmes_1000_2000['director'].unique()

NameError: name 'filmes_1000_2000' is not defined

In [ ]:
df_diretores = df_1000[['original_title','director','actors']]
df_diretores_groupby = df_diretores.groupby('director').size()
df_diretores_groupby
df_diretores_groupby.sort_values(ascending=False)

# Quem são os atores principais dos filmes TOP 1000 anos 2000 ?

In [ ]:
filmes['actors'] = filmes

In [ ]:
#Faça as análises anteriores considerando alguns gêneros de filmes (Drama,Ação etc)
# groupyby por genre (5)
filmes_por_genero = filmes.groupby('genre').sort_values(ascending = False)

In [ ]:
#  Proponha uma ponderação que leve em conta n. de votos recebidos por um filme